<div class="recommended_items">
    <h2 class="title text-center" ng-bind="name"></h2>
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item" ng-class="{active:!$index}" ng-repeat="ritem in ritems">
                <div class="col-sm-4" ng-repeat="ritem in ritems">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img ng-src="{{ritem.img}}" alt="" />
                                <h2 ng-bind="ritem.price"></h2>
                                <p ng-bind="ritem.title"></p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left recommended-item-control" data-target="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" data-target="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>