<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
							<footer-top-widget data="$ctrl.eshoppervideoData"></footer-top-widget>
						</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="assets/images/home/map.png" alt="" />
							<p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<footer-widget name="Service" data="$ctrl.serviceData"></footer-widget>
					</div>
					<div class="col-sm-2">
						<footer-widget name="Quick Shop" data="$ctrl.quickShopData"></footer-widget>
					</div>
					<div class="col-sm-2">
						<footer-widget name="Policies" data="$ctrl.policiesData"></footer-widget>
					</div>
					<div class="col-sm-2">
						<footer-widget name="About Shopper" data="$ctrl.aboutshopperData"></footer-widget>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<footer-abt-form-widget name="About Shopper" data="aboutShopperFormData"></footer-abt-form-widget>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer>